src/main/resources/com/fenergo/fdim/datagen/xsd/EntityAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DataFormats.xsd"/>
	<xs:attributeGroup name="LegalEntityAttrGroup">
		<xs:attribute name="LegalEntityType" type="xs:string" use="required"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="required"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="required"/>
		<xs:attribute name="LegalEntityRole" type="xs:string" use="required"/>
		<xs:attribute name="TaxId" type="xs:string" use="required"/>
		<xs:attribute name="TaxIdNumber" type="xs:string" use="required"/>
		<xs:attribute name="BankJurisdiction" type="xs:string" use="required"/>
		<xs:attribute name="BankEntity" type="xs:string" use="required"/>
		<xs:attribute name="AddressLine1" type="xs:string" use="required"/>
		<xs:attribute name="AddressCountry" type="xs:string" use="required"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessActivity" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessLocation" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessMarkets" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="PublicallyTradedCompany" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatoryStatus" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatoryId" type="xs:string" use="optional"/>
		<xs:attribute name="NameOfPublicallyTradedParent" type="xs:string" use="optional"/>
		<xs:attribute name="ListedOn" type="xs:string" use="optional"/>
		<xs:attribute name="Website" type="xs:string" use="optional"/>
		<xs:attribute name="PaymentType" type="xs:string" use="optional"/>
		<xs:attribute name="PaymentCountries" type="xs:string" use="optional"/>
		<xs:attribute name="SourceOfFunds" type="xs:string" use="optional"/>
		<xs:attribute name="ISCCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SwiftCode" type="xs:string" use="optional"/>
		<xs:attribute name="NACE2Code" type="xs:string" use="optional"/>
		<xs:attribute name="ClientReference" type="xs:string" use="optional"/>
		<xs:attribute name="ISIN" type="xs:string" use="optional"/>
		<xs:attribute name="LegalStatus" type="xs:string" use="optional"/>
		<xs:attribute name="RegistrationNumber" type="xs:string" use="optional"/>
		<xs:attribute name="TradingStatus" type="xs:string" use="optional"/>
		<xs:attribute name="PreviousNames" type="xs:string" use="optional"/>
		<xs:attribute name="TradingAs" type="xs:string" use="optional"/>
		<xs:attribute name="PreviousNameDate" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfDomicile" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="Desk" type="xs:string" use="optional"/>
		<xs:attribute name="DFUSPersonType" type="xs:string" use="optional"/>
		<xs:attribute name="ERISAPlanInvestor" type="xs:string" use="optional"/>
		<xs:attribute name="CreditReviewDate" type="xs:string" use="optional"/>
		<xs:attribute name="AnnualReturnDate" type="xs:string" use="optional"/>
		<xs:attribute name="NextReviewDate" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="Private" type="xs:string" use="optional"/>
		<xs:attribute name="PEPSanctions" type="xs:string" use="optional"/>
		<xs:attribute name="ISICCode" type="xs:string" use="optional"/>
		<xs:attribute name="Ticker" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="CIK" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalLegalEntityAttrGroup">
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityRole" type="xs:string" use="optional"/>
		<xs:attribute name="TaxId" type="xs:string" use="optional"/>
		<xs:attribute name="TaxNumber" type="xs:string" use="optional"/>
		<xs:attribute name="BankJurisdiction" type="xs:string" use="optional"/>
		<xs:attribute name="BankEntity" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
		<xs:attribute name="CountryAddress" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessActivity" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessLocation" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessMarkets" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="PublicallyTradedCompany" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatoryStatus" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatoryId" type="xs:string" use="optional"/>
		<xs:attribute name="NameOfPublicallyTradedParent" type="xs:string" use="optional"/>
		<xs:attribute name="ListedOn" type="xs:string" use="optional"/>
		<xs:attribute name="Website" type="xs:string" use="optional"/>
		<xs:attribute name="PaymentType" type="xs:string" use="optional"/>
		<xs:attribute name="PaymentCountries" type="xs:string" use="optional"/>
		<xs:attribute name="SourceOfFunds" type="xs:string" use="optional"/>
		<xs:attribute name="ISCCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SwiftCode" type="xs:string" use="optional"/>
		<xs:attribute name="NACE2Code" type="xs:string" use="optional"/>
		<xs:attribute name="ClientReference" type="xs:string" use="optional"/>
		<xs:attribute name="ISIN" type="xs:string" use="optional"/>
		<xs:attribute name="LegalStatus" type="xs:string" use="optional"/>
		<xs:attribute name="RegistrationNumber" type="xs:string" use="optional"/>
		<xs:attribute name="TradingStatus" type="xs:string" use="optional"/>
		<xs:attribute name="PreviousNames" type="xs:string" use="optional"/>
		<xs:attribute name="TradingAs" type="xs:string" use="optional"/>
		<xs:attribute name="PreviousNameDate" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfDomicile" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="Desk" type="xs:string" use="optional"/>
		<xs:attribute name="DFUSPersonType" type="xs:string" use="optional"/>
		<xs:attribute name="ERISAPlanInvestor" type="xs:string" use="optional"/>
		<xs:attribute name="CreditReviewDate" type="xs:string" use="optional"/>
		<xs:attribute name="AnnualReturnDate" type="xs:string" use="optional"/>
		<xs:attribute name="NextReviewDate" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="Private" type="xs:string" use="optional"/>
		<xs:attribute name="PEPSanctions" type="xs:string" use="optional"/>
		<xs:attribute name="ISICCode" type="xs:string" use="optional"/>
		<xs:attribute name="Ticker" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="CIK" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AddressAttrGroup">
		<xs:attribute name="AddressType" type="AddressTypeEnum" use="required"/>
		<xs:attribute name="Country" type="CountryEnum" use="required"/>
		<xs:attribute name="Line1" type="TextTypeMax256Char" use="required"/>
		<xs:attribute name="Line2" type="TextTypeMax256Char" use="optional"/>
		<xs:attribute name="TownCity" type="xs:string" use="optional"/>
		<xs:attribute name="StateCounty" type="xs:string" use="optional"/>
		<xs:attribute name="PostalZipCode" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalAddressAttrGroup">
		<xs:attribute name="AddressType" type="AddressTypeEnum" use="optional"/>
		<xs:attribute name="Country" type="CountryEnum" use="optional"/>
		<xs:attribute name="Line1" type="TextTypeMax256Char" use="optional"/>
		<xs:attribute name="Line2" type="TextTypeMax256Char" use="optional"/>
		<xs:attribute name="TownCity" type="xs:string" use="optional"/>
		<xs:attribute name="StateCounty" type="xs:string" use="optional"/>
		<xs:attribute name="PostalZipCode" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ContactAttrGroup">
		<xs:attribute name="Status" type="xs:string" use="required"/>
		<xs:attribute name="ContactType" type="xs:string" use="required"/>
		<xs:attribute name="Title" type="xs:string" use="required"/>
		<xs:attribute name="FirstName" type="xs:string" use="required"/>
		<xs:attribute name="LastName" type="xs:string" use="required"/>
		<xs:attribute name="PhoneNumberWork" type="xs:string" use="required"/>
		<xs:attribute name="PhoneNumberMobile" type="xs:string" use="required"/>
		<xs:attribute name="PhoneNumberHome" type="xs:string" use="required"/>
		<xs:attribute name="BusinessTitle" type="xs:string" use="optional"/>
		<xs:attribute name="EmailAddress" type="xs:string" use="optional"/>
		<xs:attribute name="ContactSignitory" type="xs:string" use="optional"/>
		<xs:attribute name="Fax" type="xs:string" use="optional"/>
		<xs:attribute name="IsPrimaryContact" type="xs:string" use="optional"/>
		<xs:attribute name="ContactId" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalContactAttrGroup">
		<xs:attribute name="Status" type="xs:string" use="optional"/>
		<xs:attribute name="ContactType" type="xs:string" use="optional"/>
		<xs:attribute name="Title" type="xs:string" use="optional"/>
		<xs:attribute name="FirstName" type="xs:string" use="optional"/>
		<xs:attribute name="LastName" type="xs:string" use="optional"/>
		<xs:attribute name="PhoneNumberWork" type="xs:string" use="optional"/>
		<xs:attribute name="PhoneNumberMobile" type="xs:string" use="optional"/>
		<xs:attribute name="PhoneNumberHome" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessTitle" type="xs:string" use="optional"/>
		<xs:attribute name="EmailAddress" type="xs:string" use="optional"/>
		<xs:attribute name="ContactSignitory" type="xs:string" use="optional"/>
		<xs:attribute name="Fax" type="xs:string" use="optional"/>
		<xs:attribute name="IsPrimaryContact" type="xs:string" use="optional"/>
		<xs:attribute name="ContactId" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ContactAddressAttrGroup">
		<xs:attribute name="AddressType" type="AddressTypeEnum" use="required"/>
		<xs:attribute name="Country" type="CountryEnum" use="required"/>
		<xs:attribute name="Line1" type="TextTypeMax256Char" use="required"/>
		<xs:attribute name="Line2" type="TextTypeMax256Char" use="optional"/>
		<xs:attribute name="TownCity" type="xs:string" use="optional"/>
		<xs:attribute name="StateCounty" type="xs:string" use="optional"/>
		<xs:attribute name="PostalZipCode" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalContactAddressAttrGroup">
		<xs:attribute name="AddressType" type="AddressTypeEnum" use="optional"/>
		<xs:attribute name="Country" type="CountryEnum" use="optional"/>
		<xs:attribute name="Line1" type="TextTypeMax256Char" use="optional"/>
		<xs:attribute name="Line2" type="TextTypeMax256Char" use="optional"/>
		<xs:attribute name="TownCity" type="xs:string" use="optional"/>
		<xs:attribute name="StateCounty" type="xs:string" use="optional"/>
		<xs:attribute name="PostalZipCode" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="ProductAttrGroup">
		<xs:attribute name="ProductCategory" type="xs:string" use="required"/>
		<xs:attribute name="ProductType" type="xs:string" use="required"/>
		<xs:attribute name="BookingEntity" type="xs:string" use="required"/>
		<xs:attribute name="Status" type="xs:string" use="required"/>
		<xs:attribute name="ProductId" type="xs:string" use="optional"/>
		<xs:attribute name="ProductStatusId" type="xs:string" use="optional"/>
		<xs:attribute name="LookupProductCategoryId" type="xs:string" use="optional"/>
		<xs:attribute name="Country" type="xs:string" use="optional"/>
		<xs:attribute name="Region" type="xs:string" use="optional"/>
		<xs:attribute name="ProductRiskCategory" type="xs:string" use="optional"/>
		<xs:attribute name="CreatedDate" type="xs:string" use="optional"/>
		<xs:attribute name="ActivatedDate" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdateDate" type="xs:string" use="optional"/>
		<xs:attribute name="LoanAmount" type="xs:decimal" use="optional"/>
		<xs:attribute name="Term" type="xs:string" use="optional"/>
		<xs:attribute name="CreditGrade" type="xs:string" use="optional"/>
		<xs:attribute name="EstReturnOfCaptial" type="xs:decimal" use="optional"/>
		<xs:attribute name="RepaymentType" type="xs:string" use="optional"/>
		<xs:attribute name="RepaymentFreq" type="xs:string" use="optional"/>
		<xs:attribute name="Margin" type="xs:decimal" use="optional"/>
		<xs:attribute name="AdditionalDetails" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalProductAttrGroup">
		<xs:attribute name="ProductCategory" type="xs:string" use="optional"/>
		<xs:attribute name="ProductType" type="xs:string" use="optional"/>
		<xs:attribute name="BookingEntity" type="xs:string" use="optional"/>
		<xs:attribute name="ProductId" type="xs:string" use="optional"/>
		<xs:attribute name="ProductStatusId" type="xs:string" use="optional"/>
		<xs:attribute name="Status" type="xs:string" use="optional"/>
		<xs:attribute name="LookupProductCategoryId" type="xs:string" use="optional"/>
		<xs:attribute name="Country" type="xs:string" use="optional"/>
		<xs:attribute name="Region" type="xs:string" use="optional"/>
		<xs:attribute name="ProductRiskCategory" type="xs:string" use="optional"/>
		<xs:attribute name="CreatedDate" type="xs:string" use="optional"/>
		<xs:attribute name="ActivatedDate" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdateDate" type="xs:string" use="optional"/>
		<xs:attribute name="LoanAmount" type="xs:decimal" use="optional"/>
		<xs:attribute name="Term" type="xs:string" use="optional"/>
		<xs:attribute name="CreditGrade" type="xs:string" use="optional"/>
		<xs:attribute name="EstReturnOfCaptial" type="xs:decimal" use="optional"/>
		<xs:attribute name="RepaymentType" type="xs:string" use="optional"/>
		<xs:attribute name="RepaymentFreq" type="xs:string" use="optional"/>
		<xs:attribute name="Margin" type="xs:decimal" use="optional"/>
		<xs:attribute name="AdditionalDetails" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CaseAttrGroup"/>
	<xs:attributeGroup name="OptionalCaseAttrGroup"/>
	<xs:attributeGroup name="SSIAttrGroup">
		<xs:attribute name="SecurityType" type="xs:string" use="required"/>
		<xs:attribute name="Method" type="xs:string" use="required"/>
		<xs:attribute name="PSETBIC" type="xs:string" use="required"/>
		<xs:attribute name="ACAtLocalAgent" type="xs:string" use="required"/>
		<xs:attribute name="BGCCashAC" type="xs:string" use="required"/>
		<xs:attribute name="Status" type="xs:string" use="optional"/>
		<xs:attribute name="EffectiveDate" type="xs:string" use="optional"/>
		<xs:attribute name="SettlementCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="AlternateCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="ParticipantName" type="xs:string" use="optional"/>
		<xs:attribute name="ID" type="xs:string" use="optional"/>
		<xs:attribute name="ID1" type="xs:string" use="optional"/>
		<xs:attribute name="ID2" type="xs:string" use="optional"/>
		<xs:attribute name="ID3" type="xs:string" use="optional"/>
		<xs:attribute name="ID4" type="xs:string" use="optional"/>
		<xs:attribute name="ID5" type="xs:string" use="optional"/>
		<xs:attribute name="ACRef" type="xs:string" use="optional"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="LABIC" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
		<xs:attribute name="City" type="xs:string" use="optional"/>
		<xs:attribute name="StateProvince" type="xs:string" use="optional"/>
		<xs:attribute name="Country" type="xs:string" use="optional"/>
		<xs:attribute name="PostCode" type="xs:string" use="optional"/>
		<xs:attribute name="ACAtGlobalCustodian" type="xs:string" use="optional"/>
		<xs:attribute name="AlternateCashACNumber" type="xs:string" use="optional"/>
		<xs:attribute name="SettlementContact" type="xs:string" use="optional"/>
		<xs:attribute name="SettlementPhone" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialInstr" type="xs:string" use="optional"/>
		<xs:attribute name="ICDCashAC" type="xs:string" use="optional"/>
		<xs:attribute name="SecurityAC" type="xs:string" use="optional"/>
		<xs:attribute name="Relationship" type="xs:string" use="optional"/>
		<xs:attribute name="DataContact" type="xs:string" use="optional"/>
		<xs:attribute name="Phone" type="xs:string" use="optional"/>
		<xs:attribute name="Acronym" type="xs:string" use="optional"/>
		<xs:attribute name="AccessCode" type="xs:string" use="optional"/>
		<xs:attribute name="OmniAccessCode" type="xs:string" use="optional"/>
		<xs:attribute name="AccountType" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfDomicile" type="xs:string" use="optional"/>
		<xs:attribute name="CharityACRef" type="xs:string" use="optional"/>
		<xs:attribute name="LargeTraderId" type="xs:string" use="optional"/>
		<xs:attribute name="ClientOfIA" type="xs:string" use="optional"/>
		<xs:attribute name="ShortName" type="xs:string" use="optional"/>
		<xs:attribute name="OmgeoID" type="xs:string" use="optional"/>
		<xs:attribute name="BODBIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1ID" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1Name" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1AC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1BIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1Contact" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1Phone" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1SpecInstr1" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2ID" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2Name" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2AC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2BIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2Contact" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2Phone" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2SpecInstr1" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3ID" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3Name" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3AC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3BIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3Contact" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3Phone" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3SpecInstr1" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalSSIAttrGroup">
		<xs:attribute name="SecurityType" type="xs:string" use="optional"/>
		<xs:attribute name="Method" type="xs:string" use="optional"/>
		<xs:attribute name="PSETBIC" type="xs:string" use="optional"/>
		<xs:attribute name="ACAtLocalAgent" type="xs:string" use="optional"/>
		<xs:attribute name="BGCCashAC" type="xs:string" use="optional"/>
		<xs:attribute name="Status" type="xs:string" use="optional"/>
		<xs:attribute name="EffectiveDate" type="xs:string" use="optional"/>
		<xs:attribute name="SettlementCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="AlternateCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="ParticipantName" type="xs:string" use="optional"/>
		<xs:attribute name="ID" type="xs:string" use="optional"/>
		<xs:attribute name="ID1" type="xs:string" use="optional"/>
		<xs:attribute name="ID2" type="xs:string" use="optional"/>
		<xs:attribute name="ID3" type="xs:string" use="optional"/>
		<xs:attribute name="ID4" type="xs:string" use="optional"/>
		<xs:attribute name="ID5" type="xs:string" use="optional"/>
		<xs:attribute name="ACRef" type="xs:string" use="optional"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="LABIC" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
		<xs:attribute name="City" type="xs:string" use="optional"/>
		<xs:attribute name="StateProvince" type="xs:string" use="optional"/>
		<xs:attribute name="Country" type="xs:string" use="optional"/>
		<xs:attribute name="PostCode" type="xs:string" use="optional"/>
		<xs:attribute name="ACAtGlobalCustodian" type="xs:string" use="optional"/>
		<xs:attribute name="AlternateCashACNumber" type="xs:string" use="optional"/>
		<xs:attribute name="SettlementContact" type="xs:string" use="optional"/>
		<xs:attribute name="SettlementPhone" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialInstr" type="xs:string" use="optional"/>
		<xs:attribute name="ICDCashAC" type="xs:string" use="optional"/>
		<xs:attribute name="SecurityAC" type="xs:string" use="optional"/>
		<xs:attribute name="Relationship" type="xs:string" use="optional"/>
		<xs:attribute name="DataContact" type="xs:string" use="optional"/>
		<xs:attribute name="Phone" type="xs:string" use="optional"/>
		<xs:attribute name="Acronym" type="xs:string" use="optional"/>
		<xs:attribute name="AccessCode" type="xs:string" use="optional"/>
		<xs:attribute name="OmniAccessCode" type="xs:string" use="optional"/>
		<xs:attribute name="AccountType" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfDomicile" type="xs:string" use="optional"/>
		<xs:attribute name="CharityACRef" type="xs:string" use="optional"/>
		<xs:attribute name="LargeTraderId" type="xs:string" use="optional"/>
		<xs:attribute name="ClientOfIA" type="xs:string" use="optional"/>
		<xs:attribute name="ShortName" type="xs:string" use="optional"/>
		<xs:attribute name="OmgeoID" type="xs:string" use="optional"/>
		<xs:attribute name="BODBIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1ID" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1Name" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1AC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1BIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1Contact" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1Phone" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty1SpecInstr1" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2ID" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2Name" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2AC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2BIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2Contact" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2Phone" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty2SpecInstr1" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3ID" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3Name" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3AC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3BIC" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3Contact" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3Phone" type="xs:string" use="optional"/>
		<xs:attribute name="InterestedParty3SpecInstr1" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="TradingAgreementAttrGroup">
		<xs:attribute name="TAID" type="xs:string" use="optional"/>
		<xs:attribute name="TAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="TACategory" type="xs:string" use="optional"/>
		<xs:attribute name="TAType" type="xs:string" use="optional"/>
		<xs:attribute name="TAVersion" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfSigning" type="xs:string" use="optional"/>
		<xs:attribute name="CatalogNumber" type="xs:string" use="optional"/>
		<xs:attribute name="AgreementSupplement" type="xs:string" use="optional"/>
		<xs:attribute name="ContractingEntity" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalTradingAgreementAttrGroup">
		<xs:attribute name="TAID" type="xs:string" use="optional"/>
		<xs:attribute name="TAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="TACategory" type="xs:string" use="optional"/>
		<xs:attribute name="TAType" type="xs:string" use="optional"/>
		<xs:attribute name="TAVersion" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfSigning" type="xs:string" use="optional"/>
		<xs:attribute name="CatalogNumber" type="xs:string" use="optional"/>
		<xs:attribute name="AgreementSupplement" type="xs:string" use="optional"/>
		<xs:attribute name="ContractingEntity" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AssociationAttrGroup">
		<xs:attribute name="Relationship" type="xs:string" use="required"/>
		<xs:attribute name="AssociatedEntity" type="xs:string" use="required"/>
		<xs:attribute name="RoleStatus" type="xs:string" use="required"/>
		<xs:attribute name="AssociationStatus" type="xs:string" use="required"/>
		<xs:attribute name="AssociationName" type="xs:string" use="required"/>
		<xs:attribute name="EntityName" type="xs:string" use="required"/>
		<xs:attribute name="RegisteredState" type="xs:string" use="optional"/>
		<xs:attribute name="RegisteredCountry" type="xs:string" use="optional"/>
		<xs:attribute name="PercentageOwnership" type="xs:string" use="optional"/>
		<xs:attribute name="Classification" type="xs:string" use="optional"/>
		<xs:attribute name="ClassificationRelationship" type="xs:string" use="optional"/>
		<xs:attribute name="Product" type="xs:string" use="optional"/>
		<xs:attribute name="ProductRelationship" type="xs:string" use="optional"/>
		<xs:attribute name="Account" type="xs:string" use="optional"/>
		<xs:attribute name="AccountRelationship" type="xs:string" use="optional"/>
		<xs:attribute name="AssociationID" type="xs:string" use="optional"/>
		<xs:attribute name="LinkTo" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityID" type="xs:string" use="optional"/>
		<xs:attribute name="ActiveFrom" type="xs:string" use="optional"/>
		<xs:attribute name="ActiveTo" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdatedDate" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdatedByt" type="xs:string" use="optional"/>
		<xs:attribute name="PositionRole" type="xs:string" use="optional"/>
		<xs:attribute name="EntityType" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="IsPubliclyListed" type="xs:string" use="optional"/>
		<xs:attribute name="IsRegulated" type="xs:string" use="optional"/>
		<xs:attribute name="NameOfListedExchange" type="xs:string" use="optional"/>
		<xs:attribute name="ExchangeTicker" type="xs:string" use="optional"/>
		<xs:attribute name="IsApprovedExchange" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatoryAuthority" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatorCountry" type="xs:string" use="optional"/>
		<xs:attribute name="ApprovedRegulator" type="xs:string" use="optional"/>
		<xs:attribute name="GovtIDNumber" type="xs:string" use="optional"/>
		<xs:attribute name="GovtIDType" type="xs:string" use="optional"/>
		<xs:attribute name="IsGovernmentBody" type="xs:string" use="optional"/>
		<xs:attribute name="PercentageKYCEntityOwnership" type="xs:string" use="optional"/>
		<xs:attribute name="BOOwnershipLevel" type="xs:string" use="optional"/>
		<xs:attribute name="OwnedNonKYCEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="OwnedNonKYCEntityMEI" type="xs:string" use="optional"/>
		<xs:attribute name="PercentageNonKYCEntityOwned" type="xs:string" use="optional"/>
		<xs:attribute name="LegalForm" type="xs:string" use="optional"/>
		<xs:attribute name="ID" type="xs:string" use="optional"/>
		<xs:attribute name="AddressType" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
		<xs:attribute name="TownCity" type="xs:string" use="optional"/>
		<xs:attribute name="StateCounty" type="xs:string" use="optional"/>
		<xs:attribute name="Country" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalAssociationAttrGroup">
		<xs:attribute name="Relationship" type="xs:string" use="optional"/>
		<xs:attribute name="AssociatedEntity" type="xs:string" use="optional"/>
		<xs:attribute name="RoleStatus" type="xs:string" use="optional"/>
		<xs:attribute name="AssociationStatus" type="xs:string" use="optional"/>
		<xs:attribute name="AssociationName" type="xs:string" use="optional"/>
		<xs:attribute name="EntityName" type="xs:string" use="optional"/>
		<xs:attribute name="RegisteredState" type="xs:string" use="optional"/>
		<xs:attribute name="RegisteredCountry" type="xs:string" use="optional"/>
		<xs:attribute name="PercentageOwnership" type="xs:string" use="optional"/>
		<xs:attribute name="Classification" type="xs:string" use="optional"/>
		<xs:attribute name="ClassificationRelationship" type="xs:string" use="optional"/>
		<xs:attribute name="Product" type="xs:string" use="optional"/>
		<xs:attribute name="ProductRelationship" type="xs:string" use="optional"/>
		<xs:attribute name="Account" type="xs:string" use="optional"/>
		<xs:attribute name="AccountRelationship" type="xs:string" use="optional"/>
		<xs:attribute name="AssociationID" type="xs:string" use="optional"/>
		<xs:attribute name="LinkTo" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityID" type="xs:string" use="optional"/>
		<xs:attribute name="ActiveFrom" type="xs:string" use="optional"/>
		<xs:attribute name="ActiveTo" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdatedDate" type="xs:string" use="optional"/>
		<xs:attribute name="LastUpdatedByt" type="xs:string" use="optional"/>
		<xs:attribute name="PositionRole" type="xs:string" use="optional"/>
		<xs:attribute name="EntityType" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="IsPubliclyListed" type="xs:string" use="optional"/>
		<xs:attribute name="IsRegulated" type="xs:string" use="optional"/>
		<xs:attribute name="NameOfListedExchange" type="xs:string" use="optional"/>
		<xs:attribute name="ExchangeTicker" type="xs:string" use="optional"/>
		<xs:attribute name="IsApprovedExchange" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatoryAuthority" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatorCountry" type="xs:string" use="optional"/>
		<xs:attribute name="ApprovedRegulator" type="xs:string" use="optional"/>
		<xs:attribute name="GovtIDNumber" type="xs:string" use="optional"/>
		<xs:attribute name="GovtIDType" type="xs:string" use="optional"/>
		<xs:attribute name="IsGovernmentBody" type="xs:string" use="optional"/>
		<xs:attribute name="PercentageKYCEntityOwnership" type="xs:string" use="optional"/>
		<xs:attribute name="BOOwnershipLevel" type="xs:string" use="optional"/>
		<xs:attribute name="OwnedNonKYCEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="OwnedNonKYCEntityMEI" type="xs:string" use="optional"/>
		<xs:attribute name="PercentageNonKYCEntityOwned" type="xs:string" use="optional"/>
		<xs:attribute name="LegalForm" type="xs:string" use="optional"/>
		<xs:attribute name="ID" type="xs:string" use="optional"/>
		<xs:attribute name="AddressType" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
		<xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
		<xs:attribute name="TownCity" type="xs:string" use="optional"/>
		<xs:attribute name="StateCounty" type="xs:string" use="optional"/>
		<xs:attribute name="Country" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="DocumentAttrGroup">
		<xs:attribute name="DocumentSource" type="xs:string" use="required"/>
		<xs:attribute name="DocumentDirection" type="xs:string" use="required"/>
		<xs:attribute name="DocumentCategory" type="xs:string" use="required"/>
		<xs:attribute name="DocumentType" type="xs:string" use="required"/>
		<xs:attribute name="DocumentName" type="xs:string" use="required"/>
		<xs:attribute name="DocumentTemplate" type="xs:string" use="required"/>
		<xs:attribute name="OutputType" type="xs:string" use="required"/>
		<xs:attribute name="PackTemplate" type="xs:string" use="required"/>
		<xs:attribute name="MergedDocumentTemplate" type="xs:string" use="required"/>
		<xs:attribute name="FilelessDocument" type="xs:string" use="optional"/>
		<xs:attribute name="Filelocation" type="xs:string" use="optional"/>
		<xs:attribute name="Current" type="xs:string" use="optional"/>
		<xs:attribute name="SignedAndInFull" type="xs:string" use="optional"/>
		<xs:attribute name="Legible" type="xs:string" use="optional"/>
		<xs:attribute name="AnnotatedIfInLanguageOtherThanEnglish" type="xs:string" use="optional"/>
		<xs:attribute name="EffectiveDate" type="xs:string" use="optional"/>
		<xs:attribute name="ExpirationDate" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentIdentificationNumber" type="xs:string" use="optional"/>
		<xs:attribute name="IssuerOfTheDocument" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfIssuance" type="xs:string" use="optional"/>
		<xs:attribute name="PlaceOfIssuance" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalDocumentAttrGroup">
		<xs:attribute name="DocumentSource" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentDirection" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentCategory" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentType" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentName" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentTemplate" type="xs:string" use="optional"/>
		<xs:attribute name="OutputType" type="xs:string" use="optional"/>
		<xs:attribute name="PackTemplate" type="xs:string" use="optional"/>
		<xs:attribute name="MergedDocumentTemplate" type="xs:string" use="optional"/>
		<xs:attribute name="FilelessDocument" type="xs:string" use="optional"/>
		<xs:attribute name="Filelocation" type="xs:string" use="optional"/>
		<xs:attribute name="Current" type="xs:string" use="optional"/>
		<xs:attribute name="SignedAndInFull" type="xs:string" use="optional"/>
		<xs:attribute name="Legible" type="xs:string" use="optional"/>
		<xs:attribute name="AnnotatedIfInLanguageOtherThanEnglish" type="xs:string" use="optional"/>
		<xs:attribute name="EffectiveDate" type="xs:string" use="optional"/>
		<xs:attribute name="ExpirationDate" type="xs:string" use="optional"/>
		<xs:attribute name="DocumentIdentificationNumber" type="xs:string" use="optional"/>
		<xs:attribute name="IssuerOfTheDocument" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfIssuance" type="xs:string" use="optional"/>
		<xs:attribute name="PlaceOfIssuance" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="RelationshipAttrGroup">
		<xs:attribute name="UserID" type="xs:string" use="required"/>
		<xs:attribute name="RelationshipType" type="xs:string" use="required"/>
		<xs:attribute name="Status" type="xs:string" use="required"/>
		<xs:attribute name="Title" type="xs:string" use="required"/>
		<xs:attribute name="FirstName" type="xs:string" use="required"/>
		<xs:attribute name="LastName" type="xs:string" use="required"/>
		<xs:attribute name="WorkPhone" type="xs:string" use="required"/>
		<xs:attribute name="MobilePhone" type="xs:string" use="required"/>
		<xs:attribute name="HomePhone" type="xs:string" use="required"/>
		<xs:attribute name="FilelessDocument" type="xs:string" use="optional"/>
		<xs:attribute name="RelationshipID" type="xs:string" use="optional"/>
		<xs:attribute name="Division" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessUnit" type="xs:string" use="optional"/>
		<xs:attribute name="EmailAddress" type="xs:string" use="optional"/>
		<xs:attribute name="IsPrimaryRelationship" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalRelationshipAttrGroup">
		<xs:attribute name="UserID" type="xs:string" use="optional"/>
		<xs:attribute name="RelationshipType" type="xs:string" use="optional"/>
		<xs:attribute name="Status" type="xs:string" use="optional"/>
		<xs:attribute name="Title" type="xs:string" use="optional"/>
		<xs:attribute name="FirstName" type="xs:string" use="optional"/>
		<xs:attribute name="LastName" type="xs:string" use="optional"/>
		<xs:attribute name="WorkPhone" type="xs:string" use="optional"/>
		<xs:attribute name="MobilePhone" type="xs:string" use="optional"/>
		<xs:attribute name="HomePhone" type="xs:string" use="optional"/>
		<xs:attribute name="FilelessDocument" type="xs:string" use="optional"/>
		<xs:attribute name="RelationshipID" type="xs:string" use="optional"/>
		<xs:attribute name="Division" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessUnit" type="xs:string" use="optional"/>
		<xs:attribute name="EmailAddress" type="xs:string" use="optional"/>
		<xs:attribute name="IsPrimaryRelationship" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="AccountAttrGroup">
		<xs:attribute name="Type" type="xs:string" use="required"/>
		<xs:attribute name="IMAccountStatus" type="xs:string" use="required"/>
		<xs:attribute name="AccountIMCode" type="xs:string" use="required"/>
		<xs:attribute name="PortfolioNumber" type="xs:string" use="required"/>
		<xs:attribute name="AccountID" type="xs:string" use="optional"/>
		<xs:attribute name="AccountType" type="xs:string" use="optional"/>
		<xs:attribute name="AccountStatus" type="xs:string" use="optional"/>
		<xs:attribute name="AccountName" type="xs:string" use="optional"/>
		<xs:attribute name="IMAccountNumber" type="xs:string" use="optional"/>
		<xs:attribute name="IMAccountName" type="xs:string" use="optional"/>
		<xs:attribute name="CreditCustomerType" type="xs:string" use="optional"/>
		<xs:attribute name="ParentAccountNumber" type="xs:string" use="optional"/>
		<xs:attribute name="ParentAccountName" type="xs:string" use="optional"/>
		<xs:attribute name="TradingAccountStatus" type="xs:string" use="optional"/>
		<xs:attribute name="DateAdded" type="xs:string" use="optional"/>
		<xs:attribute name="DateDeleted" type="xs:string" use="optional"/>
		<xs:attribute name="OMSEntryGroup" type="xs:string" use="optional"/>
		<xs:attribute name="AlertStatus" type="xs:string" use="optional"/>
		<xs:attribute name="TradingValidationDetermination" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalAccountAttrGroup">
		<xs:attribute name="Type" type="xs:string" use="optional"/>
		<xs:attribute name="IMAccountStatus" type="xs:string" use="optional"/>
		<xs:attribute name="AccountIMCode" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioNumber" type="xs:string" use="optional"/>
		<xs:attribute name="AccountID" type="xs:string" use="optional"/>
		<xs:attribute name="AccountType" type="xs:string" use="optional"/>
		<xs:attribute name="AccountStatus" type="xs:string" use="optional"/>
		<xs:attribute name="AccountName" type="xs:string" use="optional"/>
		<xs:attribute name="IMAccountNumber" type="xs:string" use="optional"/>
		<xs:attribute name="IMAccountName" type="xs:string" use="optional"/>
		<xs:attribute name="CreditCustomerType" type="xs:string" use="optional"/>
		<xs:attribute name="ParentAccountNUmber" type="xs:string" use="optional"/>
		<xs:attribute name="ParentAccountName" type="xs:string" use="optional"/>
		<xs:attribute name="TradingAccountStatus" type="xs:string" use="optional"/>
		<xs:attribute name="DateAdded" type="xs:string" use="optional"/>
		<xs:attribute name="DateDeleted" type="xs:string" use="optional"/>
		<xs:attribute name="OMSEntryGroup" type="xs:string" use="optional"/>
		<xs:attribute name="AlertStatus" type="xs:string" use="optional"/>
		<xs:attribute name="TradingValidationDetermination" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="FATCATAXAttrGroup">
		<xs:attribute name="TaxAnalysisBasedOn" type="xs:string" use="required"/>
		<xs:attribute name="FATCAEntityType" type="xs:string" use="required"/>
		<xs:attribute name="FATCAEntityStatus" type="xs:string" use="required"/>
		<xs:attribute name="FATCAStatus" type="xs:string" use="required"/>
		<xs:attribute name="PleaseSpecifyOther" type="xs:string" use="required"/>
		<xs:attribute name="CRSExemptionType" type="xs:string" use="required"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="TAXID" type="xs:string" use="optional"/>
		<xs:attribute name="TAXIDNumber" type="xs:string" use="optional"/>
		<xs:attribute name="LegalStatus" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCodeNumber" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessLoc" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfBirthNotPresentForCompany" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessMarkets" type="xs:string" use="optional"/>
		<xs:attribute name="NationalityNotPresentForCompany" type="xs:string" use="optional"/>
		<xs:attribute name="StockExchange" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="TaxIDClassificationCode" type="xs:string" use="optional"/>
		<xs:attribute name="TaxIDClassification" type="xs:string" use="optional"/>
		<xs:attribute name="GIIN" type="xs:string" use="optional"/>
		<xs:attribute name="USTaxExempt" type="xs:string" use="optional"/>
		<xs:attribute name="QualifiedIntermediary" type="xs:string" use="optional"/>
		<xs:attribute name="EntityOwnershipStatus" type="xs:string" use="optional"/>
		<xs:attribute name="ConnectedWithATradeOrBusinessInBusinessInTheUnitedStates" type="xs:string" use="optional"/>
		<xs:attribute name="USSubstantialControllingPersons" type="xs:string" use="optional"/>
		<xs:attribute name="USBranchElections" type="xs:string" use="optional"/>
		<xs:attribute name="DepositAndCustodialAccount" type="xs:string" use="optional"/>
		<xs:attribute name="NonWithholdingPartnershipSimpleTrustOrGrantorTrustElection" type="xs:string" use="optional"/>
		<xs:attribute name="ForeignPartnershipTrustElections" type="xs:string" use="optional"/>
		<xs:attribute name="RecommendedFATCAWithholding" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAID" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptionComments" type="xs:string" use="optional"/>
		<xs:attribute name="FormW9ExemptionFormFATCAReportingCode" type="xs:string" use="optional"/>
		<xs:attribute name="FormW9ExemptPayeeCode" type="xs:string" use="optional"/>
		<xs:attribute name="W8IMYEffectiveRateOfWithholdingWorksheet" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAUSPerson" type="xs:string" use="optional"/>
		<xs:attribute name="Reportable" type="xs:string" use="optional"/>
		<xs:attribute name="Ch3FederalTaxClassification" type="xs:string" use="optional"/>
		<xs:attribute name="_1099MISCFlag" type="xs:string" use="optional"/>
		<xs:attribute name="_1042SFlag" type="xs:string" use="optional"/>
		<xs:attribute name="EntityType" type="xs:string" use="optional"/>
		<xs:attribute name="CRSExempt" type="xs:string" use="optional"/>
		<xs:attribute name="HighValueAccount" type="xs:string" use="optional"/>
		<xs:attribute name="SoleTaxResidency" type="xs:string" use="optional"/>
		<xs:attribute name="PTRSNo" type="xs:string" use="optional"/>
		<xs:attribute name="TaxFormProvided" type="xs:string" use="optional"/>
		<xs:attribute name="TaxFormType" type="xs:string" use="optional"/>
		<xs:attribute name="TaxDocumentStatus" type="xs:string" use="optional"/>
		<xs:attribute name="TaxFormExpiryDate" type="xs:string" use="optional"/>
		<xs:attribute name="ISDAFATCAProtocol" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalFATCATAXAttrGroup">
		<xs:attribute name="TaxAnalysisBasedOn" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAEntityStatus" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="PleaseSpecifyOther" type="xs:string" use="optional"/>
		<xs:attribute name="CRSExemptionType" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="TAXID" type="xs:string" use="optional"/>
		<xs:attribute name="TAXIDNumber" type="xs:string" use="optional"/>
		<xs:attribute name="LegalStatus" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCodeNumber" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessLoc" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfBirthNotPresentForCompany" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessMarkets" type="xs:string" use="optional"/>
		<xs:attribute name="NationalityNotPresentForCompany" type="xs:string" use="optional"/>
		<xs:attribute name="StockExchange" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="TaxIDClassificationCode" type="xs:string" use="optional"/>
		<xs:attribute name="TaxIDClassification" type="xs:string" use="optional"/>
		<xs:attribute name="GIIN" type="xs:string" use="optional"/>
		<xs:attribute name="USTaxExempt" type="xs:string" use="optional"/>
		<xs:attribute name="QualifiedIntermediary" type="xs:string" use="optional"/>
		<xs:attribute name="EntityOwnershipStatus" type="xs:string" use="optional"/>
		<xs:attribute name="ConnectedWithATradeOrBusinessInBusinessInTheUnitedStates" type="xs:string" use="optional"/>
		<xs:attribute name="USSubstantialControllingPersons" type="xs:string" use="optional"/>
		<xs:attribute name="USBranchElections" type="xs:string" use="optional"/>
		<xs:attribute name="DepositAndCustodialAccount" type="xs:string" use="optional"/>
		<xs:attribute name="NonWithholdingPartnershipSimpleTrustOrGrantorTrustElection" type="xs:string" use="optional"/>
		<xs:attribute name="ForeignPartnershipTrustElections" type="xs:string" use="optional"/>
		<xs:attribute name="RecommendedFATCAWithholding" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAID" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptionComments" type="xs:string" use="optional"/>
		<xs:attribute name="FormW9ExemptionFormFATCAReportingCode" type="xs:string" use="optional"/>
		<xs:attribute name="FormW9ExemptPayeeCode" type="xs:string" use="optional"/>
		<xs:attribute name="W8IMYEffectiveRateOfWithholdingWorksheet" type="xs:string" use="optional"/>
		<xs:attribute name="FATCAUSPerson" type="xs:string" use="optional"/>
		<xs:attribute name="Reportable" type="xs:string" use="optional"/>
		<xs:attribute name="Ch3FederalTaxClassification" type="xs:string" use="optional"/>
		<xs:attribute name="_1099MISCFlag" type="xs:string" use="optional"/>
		<xs:attribute name="_1042SFlag" type="xs:string" use="optional"/>
		<xs:attribute name="EntityType" type="xs:string" use="optional"/>
		<xs:attribute name="CRSExempt" type="xs:string" use="optional"/>
		<xs:attribute name="HighValueAccount" type="xs:string" use="optional"/>
		<xs:attribute name="SoleTaxResidency" type="xs:string" use="optional"/>
		<xs:attribute name="PTRSNo" type="xs:string" use="optional"/>
		<xs:attribute name="TaxFormProvided" type="xs:string" use="optional"/>
		<xs:attribute name="TaxFormType" type="xs:string" use="optional"/>
		<xs:attribute name="TaxDocumentStatus" type="xs:string" use="optional"/>
		<xs:attribute name="TaxFormExpiryDate" type="xs:string" use="optional"/>
		<xs:attribute name="ISDAFATCAProtocol" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="DoddFrankAttrGroup">
		<xs:attribute name="ID" type="xs:string" use="required"/>
		<xs:attribute name="Status" type="xs:string" use="required"/>
		<xs:attribute name="EBCComplianceComments" type="xs:string" use="required"/>
		<xs:attribute name="SwapDocAmendmentsComments" type="xs:string" use="required"/>
		<xs:attribute name="EBCComplianceStatus" type="xs:string" use="optional"/>
		<xs:attribute name="SwapDocAmendmentsComplianceStatus" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="MarkitLegalName" type="xs:string" use="optional"/>
		<xs:attribute name="MarkitInstitutionName" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessLocation" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessMarkets" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="ProtocolInfoSource" type="xs:string" use="optional"/>
		<xs:attribute name="PrincipalBusiness" type="xs:string" use="optional"/>
		<xs:attribute name="TradingAgreementType" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol1AdherenceLetter" type="xs:string" use="optional"/>
		<xs:attribute name="PCAPrincipalType" type="xs:string" use="optional"/>
		<xs:attribute name="ECPTypes" type="xs:string" use="optional"/>
		<xs:attribute name="OtherEligiblePersonComments" type="xs:string" use="optional"/>
		<xs:attribute name="CommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="ActiveFund" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol1_0Schedules" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="OralDisclosureOfPreTrademarks" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialEntity1_0" type="xs:string" use="optional"/>
		<xs:attribute name="DFTermsAgreementElections" type="xs:string" use="optional"/>
		<xs:attribute name="DFNotificationsEmail" type="xs:string" use="optional"/>
		<xs:attribute name="SpecificInstructions" type="xs:string" use="optional"/>
		<xs:attribute name="Category2Entity" type="xs:string" use="optional"/>
		<xs:attribute name="CoveredFXTransaction" type="xs:string" use="optional"/>
		<xs:attribute name="CoveredDerivativesTransaction" type="xs:string" use="optional"/>
		<xs:attribute name="PreTradeMarkTransaction" type="xs:string" use="optional"/>
		<xs:attribute name="SpecifiedFXCommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="NonUSFXCommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="AllECPFXCommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="PCASignatoryTitle" type="xs:string" use="optional"/>
		<xs:attribute name="PCASignatory" type="xs:string" use="optional"/>
		<xs:attribute name="DFTermsAgreementDateCompleted" type="xs:string" use="optional"/>
		<xs:attribute name="MarkitFileNotes" type="xs:string" use="optional"/>
		<xs:attribute name="ECPSpecialEntityElectionAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ECPSpecialEntityElectionAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="NonSpecialEntityTradingLetterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="NonSpecialEntityTradingLetterAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="InstitutionSuitabilityAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="InstitutionSuitabilityAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialEntityTradingLetterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialEntityTradingLetterAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="NegativeConsentLetterRequired" type="xs:string" use="optional"/>
		<xs:attribute name="NegativeConsentLetterSentDate" type="xs:string" use="optional"/>
		<xs:attribute name="DisclosuresProvided" type="xs:string" use="optional"/>
		<xs:attribute name="DisclosuresProvidedDate" type="xs:string" use="optional"/>
		<xs:attribute name="DeliveryMechanismOfDisclosures" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol2AdherenceLetter" type="xs:string" use="optional"/>
		<xs:attribute name="AdherenceLetterID" type="xs:string" use="optional"/>
		<xs:attribute name="SECIssuerFiler" type="xs:string" use="optional"/>
		<xs:attribute name="ElectionApproval" type="xs:string" use="optional"/>
		<xs:attribute name="CFTCSwapEntity" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialEntity2_0" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialCompany" type="xs:string" use="optional"/>
		<xs:attribute name="InsuredDepositoryInstitution" type="xs:string" use="optional"/>
		<xs:attribute name="DeliveryOfNoticesEmail" type="xs:string" use="optional"/>
		<xs:attribute name="RiskValuationsEmai" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioDataEmail" type="xs:string" use="optional"/>
		<xs:attribute name="LocalBusinessDayCityOrCities" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol2_0Schedules" type="xs:string" use="optional"/>
		<xs:attribute name="March2013DFMasterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ReviewExchangePortfolioData" type="xs:string" use="optional"/>
		<xs:attribute name="AgreeToReconcileSDRData" type="xs:string" use="optional"/>
		<xs:attribute name="StandingEndUserExemption" type="xs:string" use="optional"/>
		<xs:attribute name="StandingOptOutOfAnnualFiling" type="xs:string" use="optional"/>
		<xs:attribute name="FinanceAffiliateExemption" type="xs:string" use="optional"/>
		<xs:attribute name="HedgingAffiliateExemption" type="xs:string" use="optional"/>
		<xs:attribute name="SmallBankExemption" type="xs:string" use="optional"/>
		<xs:attribute name="UnclearedSwapFinancialObligations" type="xs:string" use="optional"/>
		<xs:attribute name="USPersonRepresentation" type="xs:string" use="optional"/>
		<xs:attribute name="AffiliateConduitRepresentations" type="xs:string" use="optional"/>
		<xs:attribute name="GuaranteeRepresentationsGeneral" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialEntityGuarantees" type="xs:string" use="optional"/>
		<xs:attribute name="SwapDealerAffiliateGuarantees" type="xs:string" use="optional"/>
		<xs:attribute name="WrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfWrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ReconType" type="xs:string" use="optional"/>
		<xs:attribute name="SubstitutedCompliance" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalDoddFrankAttrGroup">
		<xs:attribute name="ID" type="xs:string" use="optional"/>
		<xs:attribute name="Status" type="xs:string" use="optional"/>
		<xs:attribute name="EBCComplianceComments" type="xs:string" use="optional"/>
		<xs:attribute name="SwapDocAmendmentsComments" type="xs:string" use="optional"/>
		<xs:attribute name="EBCComplianceStatus1" type="xs:string" use="optional"/>
		<xs:attribute name="EBCComplianceStatus2" type="xs:string" use="optional"/>
		<xs:attribute name="SwapDocAmendmentsComplianceStatus1" type="xs:string" use="optional"/>
		<xs:attribute name="SwapDocAmendmentsComplianceStatus2" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="MarkitLegalName" type="xs:string" use="optional"/>
		<xs:attribute name="MarkitInstitutionName" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="PrimaryBusinessLocation" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessMarkets" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="ProtocolInfoSource" type="xs:string" use="optional"/>
		<xs:attribute name="PrincipalBusiness" type="xs:string" use="optional"/>
		<xs:attribute name="TradingAgreementType" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol1AdherenceLetter" type="xs:string" use="optional"/>
		<xs:attribute name="PCAPrincipalType" type="xs:string" use="optional"/>
		<xs:attribute name="ECPTypes" type="xs:string" use="optional"/>
		<xs:attribute name="OtherEligiblePersonComments" type="xs:string" use="optional"/>
		<xs:attribute name="CommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="ActiveFund" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol1_0Schedules" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="OralDisclosureOfPreTrademarks" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialEntity1_0" type="xs:string" use="optional"/>
		<xs:attribute name="DFTermsAgreementElections" type="xs:string" use="optional"/>
		<xs:attribute name="DFNotificationsEmail" type="xs:string" use="optional"/>
		<xs:attribute name="SpecificInstructions" type="xs:string" use="optional"/>
		<xs:attribute name="Category2Entity" type="xs:string" use="optional"/>
		<xs:attribute name="CoveredFXTransaction" type="xs:string" use="optional"/>
		<xs:attribute name="CoveredDerivativesTransaction" type="xs:string" use="optional"/>
		<xs:attribute name="PreTradeMarkTransaction" type="xs:string" use="optional"/>
		<xs:attribute name="SpecifiedFXCommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="NonUSFXCommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="AllECPFXCommodityPool" type="xs:string" use="optional"/>
		<xs:attribute name="PCASignatoryTitle" type="xs:string" use="optional"/>
		<xs:attribute name="PCASignatory" type="xs:string" use="optional"/>
		<xs:attribute name="DFTermsAgreementDateCompleted" type="xs:string" use="optional"/>
		<xs:attribute name="MarkitFileNotes" type="xs:string" use="optional"/>
		<xs:attribute name="ECPSpecialEntityElectionAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ECPSpecialEntityElectionAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="NonSpecialEntityTradingLetterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="NonSpecialEntityTradingLetterAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="InstitutionSuitabilityAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="InstitutionSuitabilityAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialEntityTradingLetterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="SpecialEntityTradingLetterAgreementDate" type="xs:string" use="optional"/>
		<xs:attribute name="NegativeConsentLetterRequired" type="xs:string" use="optional"/>
		<xs:attribute name="NegativeConsentLetterSentDate" type="xs:string" use="optional"/>
		<xs:attribute name="DisclosuresProvided" type="xs:string" use="optional"/>
		<xs:attribute name="DisclosuresProvidedDate" type="xs:string" use="optional"/>
		<xs:attribute name="DeliveryMechanismOfDisclosures" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol2AdherenceLetter" type="xs:string" use="optional"/>
		<xs:attribute name="AdherenceLetterID" type="xs:string" use="optional"/>
		<xs:attribute name="SECIssuerFiler" type="xs:string" use="optional"/>
		<xs:attribute name="ElectionApproval" type="xs:string" use="optional"/>
		<xs:attribute name="CFTCSwapEntity" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialEntity2_0" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialCompany" type="xs:string" use="optional"/>
		<xs:attribute name="InsuredDepositoryInstitution" type="xs:string" use="optional"/>
		<xs:attribute name="DeliveryOfNoticesEmail" type="xs:string" use="optional"/>
		<xs:attribute name="RiskValuationsEmai" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioDataEmail" type="xs:string" use="optional"/>
		<xs:attribute name="LocalBusinessDayCityOrCities" type="xs:string" use="optional"/>
		<xs:attribute name="Protocol2_0Schedules" type="xs:string" use="optional"/>
		<xs:attribute name="March2013DFMasterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ReviewExchangePortfolioData" type="xs:string" use="optional"/>
		<xs:attribute name="AgreeToReconcileSDRData" type="xs:string" use="optional"/>
		<xs:attribute name="StandingEndUserExemption" type="xs:string" use="optional"/>
		<xs:attribute name="StandingOptOutOfAnnualFiling" type="xs:string" use="optional"/>
		<xs:attribute name="FinanceAffiliateExemption" type="xs:string" use="optional"/>
		<xs:attribute name="HedgingAffiliateExemption" type="xs:string" use="optional"/>
		<xs:attribute name="SmallBankExemption" type="xs:string" use="optional"/>
		<xs:attribute name="UnclearedSwapFinancialObligations" type="xs:string" use="optional"/>
		<xs:attribute name="USPersonRepresentation" type="xs:string" use="optional"/>
		<xs:attribute name="AffiliateConduitRepresentations" type="xs:string" use="optional"/>
		<xs:attribute name="GuaranteeRepresentationsGeneral" type="xs:string" use="optional"/>
		<xs:attribute name="FinancialEntityGuarantees" type="xs:string" use="optional"/>
		<xs:attribute name="SwapDealerAffiliateGuarantees" type="xs:string" use="optional"/>
		<xs:attribute name="WrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfWrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ReconType" type="xs:string" use="optional"/>
		<xs:attribute name="SubstitutedCompliance" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="APACAttrGroup">
		<xs:attribute name="ExemptPersonsFromClearingType" type="xs:string" use="required"/>
		<xs:attribute name="ExemptionComments" type="xs:string" use="required"/>
		<xs:attribute name="DeferredReportingJurisdiction" type="xs:string" use="required"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="SWIFTBIC" type="xs:string" use="optional"/>
		<xs:attribute name="IndustrySectorCode" type="xs:string" use="optional"/>
		<xs:attribute name="IndustrySectorDesc" type="xs:string" use="optional"/>
		<xs:attribute name="AVOXID" type="xs:string" use="optional"/>
		<xs:attribute name="ClassificationRequired" type="xs:string" use="optional"/>
		<xs:attribute name="MASEntityClassification" type="xs:string" use="optional"/>
		<xs:attribute name="BuySideDelegatedReportingToBank" type="xs:string" use="optional"/>
		<xs:attribute name="DeferredReportingCPMasking" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalAPACAttrGroup">
		<xs:attribute name="ExemptPersonsFromClearingType" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptionComments" type="xs:string" use="optional"/>
		<xs:attribute name="DeferredReportingJurisdiction" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="SWIFTBIC" type="xs:string" use="optional"/>
		<xs:attribute name="IndustrySectorCode" type="xs:string" use="optional"/>
		<xs:attribute name="IndustrySectorDesc" type="xs:string" use="optional"/>
		<xs:attribute name="AVOXID" type="xs:string" use="optional"/>
		<xs:attribute name="ClassificationRequired" type="xs:string" use="optional"/>
		<xs:attribute name="MASEntityClassification" type="xs:string" use="optional"/>
		<xs:attribute name="BuySideDelegatedReportingToBank" type="xs:string" use="optional"/>
		<xs:attribute name="DeferredReportingCPMasking" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="MiFIDAttrGroup">
		<xs:attribute name="MiFIDLegalEntityType" type="xs:string" use="required"/>
		<xs:attribute name="TotalBalanceSheet" type="xs:string" use="required"/>
		<xs:attribute name="TotalBalanceSheetCurrency" type="xs:string" use="required"/>
		<xs:attribute name="OwnFunds" type="xs:string" use="required"/>
		<xs:attribute name="OwnFundsCurrency" type="xs:string" use="required"/>
		<xs:attribute name="ExpectedTurnover" type="xs:string" use="required"/>
		<xs:attribute name="ExpectedTurnoverCurrency" type="xs:string" use="required"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="HasTheClientCarriedOutTransactions_" type="xs:string" use="optional"/>
		<xs:attribute name="DoesTheSizeOfTheClientsFinancialInstrumentPortfolio_" type="xs:string" use="optional"/>
		<xs:attribute name="DoesTheClientCurrentlyWork_" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDClassificationSuggested" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDClassificationOverride" type="xs:string" use="optional"/>
		<xs:attribute name="ProductSpecificClassification" type="xs:string" use="optional"/>
		<xs:attribute name="DetailsNotes" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDStatus" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDStatusOptions" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalMiFIDAttrGroup">
		<xs:attribute name="MiFIDLegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="TotalBalanceSheet" type="xs:string" use="optional"/>
		<xs:attribute name="TotalBalanceSheetCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="OwnFunds" type="xs:string" use="optional"/>
		<xs:attribute name="OwnFundsCurrency" type="xs:string" use="optional"/>
		<xs:attribute name="ExpectedTurnover" type="xs:string" use="optional"/>
		<xs:attribute name="ExpectedTurnoverCurrency" type="xs:string" use="required"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="HasTheClientCarriedOutTransactions_" type="xs:string" use="optional"/>
		<xs:attribute name="DoesTheSizeOfTheClientsFinancialInstrumentPortfolio_" type="xs:string" use="optional"/>
		<xs:attribute name="DoesTheClientCurrentlyWork_" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDClassificationSuggested" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDClassificationOverride" type="xs:string" use="optional"/>
		<xs:attribute name="ProductSpecificClassification" type="xs:string" use="optional"/>
		<xs:attribute name="DetailsNotes" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDStatus" type="xs:string" use="optional"/>
		<xs:attribute name="MiFIDStatusOptions" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="EMIRAttrGroup">
		<xs:attribute name="EMIRClassification" type="xs:string" use="required"/>
		<xs:attribute name="EMIRClearingCategory" type="xs:string" use="required"/>
		<xs:attribute name="ExemptFromClearingType" type="xs:string" use="required"/>
		<xs:attribute name="ExemptionComments" type="xs:string" use="required"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="BankingGroup" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="RestrictedTradingSystems" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRComplainceStatus" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearing" type="xs:string" use="optional"/>
		<xs:attribute name="AlternativeInvestmentFund" type="xs:string" use="optional"/>
		<xs:attribute name="TypeOfPensionSchemeArrangement" type="xs:string" use="optional"/>
		<xs:attribute name="UseOfPensionSchemeArrangementExemption" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRStatus" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRStatusOptions" type="xs:string" use="optional"/>
		<xs:attribute name="WrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfWrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ReconciliationType" type="xs:string" use="optional"/>
		<xs:attribute name="SubstitutedCompliance" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRProceduresAgreed" type="xs:string" use="optional"/>
		<xs:attribute name="EEACounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="ISDAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="InternalOnlyCounterParty" type="xs:string" use="optional"/>
		<xs:attribute name="MasterAgreementType" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioReconciliation" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRISDAProtocolAdherence" type="xs:string" use="optional"/>
		<xs:attribute name="ClearingThresholdExceeded" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRDocumentation" type="xs:string" use="optional"/>
		<xs:attribute name="AssignedTeam" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioData" type="xs:string" use="optional"/>
		<xs:attribute name="DelegatedReporting" type="xs:string" use="optional"/>
		<xs:attribute name="BICClientCode" type="xs:string" use="optional"/>
		<xs:attribute name="DelegatedTo" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalEMIRAttrGroup">
		<xs:attribute name="EMIRClassification" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRClearingCategory" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearingType" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptionComments" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="BankingGroup" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="RestrictedTradingSystems" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRComplainceStatus" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearing" type="xs:string" use="optional"/>
		<xs:attribute name="AlternativeInvestmentFund" type="xs:string" use="optional"/>
		<xs:attribute name="TypeOfPensionSchemeArrangement" type="xs:string" use="optional"/>
		<xs:attribute name="UseOfPensionSchemeArrangementExemption" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRStatus" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRStatusOptions" type="xs:string" use="optional"/>
		<xs:attribute name="WrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="DateOfWrittenAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="ReconciliationType" type="xs:string" use="optional"/>
		<xs:attribute name="SubstitutedCompliance" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRProceduresAgreed" type="xs:string" use="optional"/>
		<xs:attribute name="EEACounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="ISDAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="InternalOnlyCounterParty" type="xs:string" use="optional"/>
		<xs:attribute name="MasterAgreementType" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioReconciliation" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRISDAProtocolAdherence" type="xs:string" use="optional"/>
		<xs:attribute name="ClearingThresholdExceeded" type="xs:string" use="optional"/>
		<xs:attribute name="EMIRDocumentation" type="xs:string" use="optional"/>
		<xs:attribute name="AssignedTeam" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioData" type="xs:string" use="optional"/>
		<xs:attribute name="DelegatedReporting" type="xs:string" use="optional"/>
		<xs:attribute name="BICClientCode" type="xs:string" use="optional"/>
		<xs:attribute name="DelegatedTo" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CanadianFIUAttrGroup">
		<xs:attribute name="LocalCounterpartyProvince" type="xs:string" use="required"/>
		<xs:attribute name="AffiliateOfAResponsibleCanadianPersonProvince" type="xs:string" use="required"/>
		<xs:attribute name="AdditionalCovenantReportingResponsibilityProvince" type="xs:string" use="required"/>
		<xs:attribute name="LegalName" type="xs:string" use="optional"/>
		<xs:attribute name="BankingGroup" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="CanadianRepresentationAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="RestrictedTradingSystems" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="JurisdictionOfIncorporationHeadOfficeAndOrPrincipalPlaceOfBusiness" type="xs:string" use="optional"/>
		<xs:attribute name="LocalCounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="ReportingDerivativesDealerInCanada" type="xs:string" use="optional"/>
		<xs:attribute name="ReportingDerivativesDealerInCanadaProvince" type="xs:string" use="optional"/>
		<xs:attribute name="AffiliateOfAResponsibleCanadianPerson" type="xs:string" use="optional"/>
		<xs:attribute name="AdditionalCovenantReportingResponsibility" type="xs:string" use="optional"/>
		<xs:attribute name="ConsentToDisclosure" type="xs:string" use="optional"/>
		<xs:attribute name="ReportingPartyRules" type="xs:string" use="optional"/>
		<xs:attribute name="ConsentToAllReportingRequirements" type="xs:string" use="optional"/>
		<xs:attribute name="MasterAgreementType" type="xs:string" use="optional"/>
		<xs:attribute name="MultilateralAgreementForDealers" type="xs:string" use="optional"/>
		<xs:attribute name="ClearingExemption" type="xs:string" use="optional"/>
		<xs:attribute name="PCAPrincipalType" type="xs:string" use="optional"/>
		<xs:attribute name="CanadianReportingRequirementsCompleted" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalCanadianFIUAttrGroup">
		<xs:attribute name="LocalCounterpartyProvince" type="xs:string" use="optional"/>
		<xs:attribute name="AffiliateOfAResponsibleCanadianPersonProvince" type="xs:string" use="optional"/>
		<xs:attribute name="AdditionalCovenantReportingResponsibilityProvince" type="xs:string" use="optional"/>
		<xs:attribute name="LegalName" type="xs:string" use="optional"/>
		<xs:attribute name="BankingGroup" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="BusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="CanadianRepresentationAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="RestrictedTradingSystems" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="JurisdictionOfIncorporationHeadOfficeAndOrPrincipalPlaceOfBusiness" type="xs:string" use="optional"/>
		<xs:attribute name="LocalCounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="ReportingDerivativesDealerInCanada" type="xs:string" use="optional"/>
		<xs:attribute name="ReportingDerivativesDealerInCanadaProvince" type="xs:string" use="optional"/>
		<xs:attribute name="AffiliateOfAResponsibleCanadianPerson" type="xs:string" use="optional"/>
		<xs:attribute name="AdditionalCovenantReportingResponsibility" type="xs:string" use="optional"/>
		<xs:attribute name="ConsentToDisclosure" type="xs:string" use="optional"/>
		<xs:attribute name="ReportingPartyRules" type="xs:string" use="optional"/>
		<xs:attribute name="ConsentToAllReportingRequirements" type="xs:string" use="optional"/>
		<xs:attribute name="MasterAgreementType" type="xs:string" use="optional"/>
		<xs:attribute name="MultilateralAgreementForDealers" type="xs:string" use="optional"/>
		<xs:attribute name="ClearingExemption" type="xs:string" use="optional"/>
		<xs:attribute name="PCAPrincipalType" type="xs:string" use="optional"/>
		<xs:attribute name="CanadianReportingRequirementsCompleted" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="MexicanDrivativesAttrGroup">
		<xs:attribute name="MexicoClassification" type="xs:string" use="optional"/>
		<xs:attribute name="ISDAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioData" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearing" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearingType" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearingComments" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="BankingGroup" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="RestrictedTradingSystems" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
		<xs:attribute name="InternalOnlyCounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="LocalCounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="TypeOfMasterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioReconcilliation" type="xs:string" use="optional"/>
		<xs:attribute name="MexicoDocumentation" type="xs:string" use="optional"/>
		<xs:attribute name="DelegatedReporting" type="xs:string" use="optional"/>
		<xs:attribute name="MexicoISDAProtocolAdherence" type="xs:string" use="optional"/>
		<xs:attribute name="SubstitutedCompliance" type="xs:string" use="optional"/>
		<xs:attribute name="BranchIndicator" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalMexicanDrivativesAttrGroup">
		<xs:attribute name="MexicoClassification" type="xs:string" use="optional"/>
		<xs:attribute name="ISDAStatus" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioData" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearing" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearingType" type="xs:string" use="optional"/>
		<xs:attribute name="ExemptFromClearingComments" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityName" type="xs:string" use="optional"/>
		<xs:attribute name="LEI" type="xs:string" use="optional"/>
		<xs:attribute name="LegalEntityType" type="xs:string" use="optional"/>
		<xs:attribute name="BankingGroup" type="xs:string" use="optional"/>
		<xs:attribute name="CountryOfIncorporation" type="xs:string" use="optional"/>
		<xs:attribute name="DesignatedBusinessLine" type="xs:string" use="optional"/>
		<xs:attribute name="SICCode" type="xs:string" use="optional"/>
		<xs:attribute name="NAICCode" type="xs:string" use="optional"/>
		<xs:attribute name="RegulatedBy" type="xs:string" use="optional"/>
		<xs:attribute name="RestrictedTradingSystems" type="xs:string" use="optional"/>
		<xs:attribute name="ClientContact" type="xs:string" use="optional"/>
		<xs:attribute name="Comments" type="xs:string" use="optional"/>
		<xs:attribute name="InternalOnlyCounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="LocalCounterparty" type="xs:string" use="optional"/>
		<xs:attribute name="TypeOfMasterAgreement" type="xs:string" use="optional"/>
		<xs:attribute name="PortfolioReconcilliation" type="xs:string" use="optional"/>
		<xs:attribute name="MexicoDocumentation" type="xs:string" use="optional"/>
		<xs:attribute name="DelegatedReporting" type="xs:string" use="optional"/>
		<xs:attribute name="MexicoISDAProtocolAdherence" type="xs:string" use="optional"/>
		<xs:attribute name="SubstitutedCompliance" type="xs:string" use="optional"/>
		<xs:attribute name="BranchIndicator" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="LookupAttrGroup">
		<xs:attribute name="TableName" type="xs:string"  use="optional"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalLookupAttrGroup">
		<xs:attribute name="TableName" type="xs:string"  use="optional"/>
		<xs:attribute name="Name" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="UserAttrGroup">
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="RoleGroupId" type="xs:string" use="required"/>
		<xs:attribute name="ActivatedDate" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalUserAttrGroup">
		<xs:attribute name="Name" type="xs:string" use="optional"/>
		<xs:attribute name="RoleGroupId" type="xs:string" use="optional"/>
		<xs:attribute name="ActivatedDate" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="RoleGroupAttrGroup">
		<xs:attribute name="RoleGroupId" type="xs:string"  use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OptionalRoleGroupAttrGroup">
		<xs:attribute name="RoleGroupId" type="xs:string"  use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="LERoleAttrGroup"/>
	<xs:attributeGroup name="OptionalLERoleAttrGroup"/>
</xs:schema>
